select	{
	display:none;
}
nav > div	{
	margin:0 0 12px;
	height:30px;
}
nav > div > span:not(select)	{
	margin-right:18px;
	display:inline-block;
}
select + .select	{
	display:inline-block;
	line-height:26px;
	color:rgba(255,255,255,.85);
	position:relative;
	margin-right:4px;
	font-size:100%;
	font-family:"Helvetica Neue", Helvetica, Arial, "Shin Go Regular", sans-serif;
}
select + .select > span	{
	display:block;
	background:rgba(0,0,0,.4);
	box-shadow:0 1px 6px rgba(0,0,0,1) inset;
	line-height:28px;
	padding:0 8px;
	border-radius:4px;
	color:rgba(255,255,255,.85);
	cursor:pointer;
	position:relative;
}
select + .select > span:after	{
	content:" ";
	width:0;
	height:0;
	border-top:9px solid #fff;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	display:block;
	position:absolute;
	right:7px;
	top:10px;
	opacity:.1;
}
select + .select > span:hover:after	{
	opacity:.4;

}
select + .select > ul	{
	list-style:none;
	padding:0;
	position:absolute;
	z-index:1000;
	left:0;
	top:28px;
	height:312px;
	overflow:auto;
	min-width:61px;
	margin:0;
	background-color:rgba(20,20,20,.8);
	box-shadow:0 2px 12px rgba(0,0,0,.4);
	border-radius:0 0 4px 4px;
	display:none;
}
select + .select > span:hover	{
	background-color:rgba(20,20,20,.7);
}
select + .select > ul::-webkit-scrollbar    {
	width:6px;
}
select + .select > ul::-webkit-scrollbar-thumb:vertical {
	border-left:6px solid rgba(100,100,100,.3);
	border-radius:2px;
}
select + .select > ul > li	{
	padding:0 8px;
	display:block;
	opacity:.95;
	cursor:pointer;
}
select + .select > ul > li:hover,
select + .select > ul > li.selected	{
	background-color:rgba(60,60,60,.25);
	opacity:1;
}
[data-class="0"]	{color:#e33}
[data-class="1"],[data-class="6"]	{color:#f72}
[data-class="2"],[data-class="7"]	{color:#292}
[data-class="3"],[data-class="8"]	{color:#36e}
[data-class="4"]	{color:#f54}
[data-class="5"]	{color:#f54}
[data-class="-1"]	{color:#999}

[name=change]	{
	width:100px;
	border:1px;
	border-radius:4px;
	background:rgba(10,10,10,.8);
	color:rgba(255,255,255,.7);
	font-size:100%;
	padding:7px 0;
	background:rgba(0,0,0,.4);
	box-shadow:0 1px 6px rgba(0,0,0,1) inset;
	font-weight:bold;
	cursor:pointer;
	font-family:"Helvetica Neue", Helvetica, Arial, "Shin Go Regular", sans-serif;
}
[name=change]:hover	{
	color:rgba(255,255,255,.95);
}

[type=checkbox]	{
	display:none;
}


[type=checkbox] + label	{
	display:block;
	box-shadow:0 1px 6px rgba(0,0,0,1) inset;
	border-radius:4px;
	background:rgba(10,10,10,.8);
	width:36px;
	line-height:30px;
	height:30px;
	overflow:hidden;
	float:left;
	font-weight:400;
	cursor:pointer;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:85%;
}
[type=checkbox] + label > span	{
	width:36px;
	text-align:center;
	display:block;
}
[type=checkbox] + label > :first-child	{
	margin-top:-30px;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}
[type=checkbox]:checked + label > :first-child	{
	margin-top:0;
}
[type=checkbox] + label + label	{
	display:block;
	line-height:30px;
	margin-left:6px;
	float:left;
	cursor:pointer;
}
[type=checkbox] + label > :first-child	{
	color:#c44;
}
[type=checkbox] + label > :last-child	{
	color:#34c;
}

:root	{
	background-color:#222;
	background-image:url(bg.png);
	background-size:auto, 100% 1000px;
	padding:100px 0 0 64px;
	color:#eee;
	font:13px/1.5 Georgia, serif;
	/*font-family:"Lucida Grande";*/
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	text-shadow:0 1px 3px rgba(0,0,0,.9);
}
::selection	{
	background:transparent
}
::-moz-selection	{
	background:transparent
}

#board > div > div	{
	height:101px;
	float:left;
	width:auto;
	position:relative;
	width:984px;
	opacity:.9;
}
#board > div > div > div	{
	float:left;
	background:#000;
	width:68px;
	height:101px;
	margin-right:1px;
	position:relative;
	box-shadow:0 1px 5px rgba(0,0,0,.8);
}
#board > div > div > div:nth-child(2)	{
	margin-right:20px;
}
#board > div > div > .colon	{
	width:20px !important;
	background:url(colon.png);
	position:absolute;
	left:137px;
	top:0;
	opacity:.6;
}
#board > div > div > div:not(.colon):after,
#board > div > div > div.train:before,
#board > div > div > div.train > span:nth-child(2):after	{
	position:absolute;
	top:51%;
	left:50%;
	width:2px;
	height:20px;
	margin:-10px 0 0 -1px;
	background:-webkit-linear-gradient(top, #121212, #333, #121212);
	background:-moz-linear-gradient(top, #121212, #333, #121212);
	background:-o-linear-gradient(top, #121212, #333, #121212);
	content:".";
	text-indent:-9999px;
	display:block;
	z-index:20;
	border-radius:4px;
	box-shadow:0 1px 5px rgba(0,0,0,.7);
	opacity:.8;
}

#board > div > div > div.train > span:nth-child(2):after	{
	left:82%;
}
#board > div > div > div.train:before	{
	left:18%;
}
#board > div > div > .colon	{
	width:44px;
}
#board > div > div > div:last-child	{
	margin-right:0;
}
#board > div > div > div > span	{
	display:block;
	height:50px;
	position:relative;
}
#board > div > div > div > span > span	{
	display:block;
	height:50px;
	width:100%;
	background-image:url(number.png);
	background-repeat:no-repeat;
	background-color:#000;
	position:absolute;
	top:0;
	bottom:0;
	z-index:10;
}
#board > div > div > .train	{
	width:664px;
	margin-left:24px;
}
#board > div > div > .train > span > span	{
	width:100%;
	background-image:url(type.png), url(destination.png), url(extra.png);
	background-position:0 0, 234px 0, -9999px -9999px;
}
#board > div > div > .train > span > span.alert	{
	width:100%;
	background-image:url(extra.png);
	background-position:0 0;
}
#board > div > div > div > span > span:after	{
	content:".";
	position:absolute;
	display:block;
	text-indent:-9999px;
	width:100%;
	height:100%;
}

#board > div > div > div > span:first-child > span	{
	border-top:1px solid rgba(0,0,0,.8);
	height:49px;
}
#board > div > div > div > span:first-child > span:after	{
	background:-webkit-linear-gradient(top, rgba(255,255,255,.25) 50%, rgba(255,255,255,.15));
	background:-moz-linear-gradient(top, rgba(255,255,255,.25) 50%, rgba(255,255,255,.15));
	background:-o-linear-gradient(top, rgba(255,255,255,.25) 50%, rgba(255,255,255,.15));
}
#board > div > div > div > span:last-child > span:after	{
	background:-webkit-linear-gradient(top, rgba(255,255,255,.22) 50%, rgba(255,255,255,.1));
	background:-moz-linear-gradient(top, rgba(255,255,255,.22) 50%, rgba(255,255,255,.1));
	background:-o-linear-gradient(top, rgba(255,255,255,.22) 50%, rgba(255,255,255,.1));
}
#board > div > div > div > span:nth-child(2)	{
	height:2px !important;
	background:rgba(150,150,150,.2);
}
#board > div > div > div > span:last-child > span	{
	border-bottom:1px solid rgba(0,0,0,.8);
}

.bottom	{
	-webkit-transform:scale(1, 0);
}


#board > div > div > div > :first-child > span	{background-position:1000px 0;cursor:pointer}
#board > div > div > div > :first-child > [data-num="0"]	{background-position:0 0}
#board > div > div > div > :first-child > [data-num="1"]	{background-position:-70px 0}
#board > div > div > div > :first-child > [data-num="2"]	{background-position:-140px 0}
#board > div > div > div > :first-child > [data-num="3"]	{background-position:-210px 0}
#board > div > div > div > :first-child > [data-num="4"]	{background-position:-280px 0}
#board > div > div > div > :first-child > [data-num="5"]	{background-position:-350px 0}
#board > div > div > div > :first-child > [data-num="6"]	{background-position:-420px 0}
#board > div > div > div > :first-child > [data-num="7"]	{background-position:-490px 0}
#board > div > div > div > :first-child > [data-num="8"]	{background-position:-560px 0}
#board > div > div > div > :first-child > [data-num="9"]	{background-position:-630px 0}

#board > div > div > div > :last-child > span	{background-position:1000px -50px}
#board > div > div > div > :last-child > [data-num="0"]	{background-position:0 -50px}
#board > div > div > div > :last-child > [data-num="1"]	{background-position:-70px -50px}
#board > div > div > div > :last-child > [data-num="2"]	{background-position:-140px -50px}
#board > div > div > div > :last-child > [data-num="3"]	{background-position:-210px -50px}
#board > div > div > div > :last-child > [data-num="4"]	{background-position:-280px -50px}
#board > div > div > div > :last-child > [data-num="5"]	{background-position:-350px -50px}
#board > div > div > div > :last-child > [data-num="6"]	{background-position:-420px -50px}
#board > div > div > div > :last-child > [data-num="7"]	{background-position:-490px -50px}
#board > div > div > div > :last-child > [data-num="8"]	{background-position:-560px -50px}
#board > div > div > div > :last-child > [data-num="9"]	{background-position:-630px -50px}

#board > div > div > .train > span:first-child > span	{background-position:0 0, 234px -1530px, -9999px 0}
#board > div > div > .train > span:last-child > span	{background-position:0 -50px, 234px -1580px, -9999px 0}
nav	{
	clear:left;
	float:left;
	margin:12px 0;
	width:400px;
}
nav + div	{
	float:left;
	margin:12px 0;
}
aside	{
	margin:36px 0;
}

aside a[href^="http://twitter.com"]	{
	display:inline-block;
	background:url(twitter.png) no-repeat 0 50%;
	padding-left:25px;
	line-height:20px;
}
aside a[href^="http://twitter.com"] + span	{
	font-family:Georgia, serif;
	color:#777;
	font-style:italic;
	margin-left:10px;
}
aside > div	{
	margin:5px 0;
}
section	{
	width:608px;
}
section ul	{
	margin:0 0 12px;
}
section h3	{
	margin:0 0 3px;
	font-size:130%;
	font-weight:normal;
}
section p,
footer p	{
	margin:8px 0;
}
section ul > li	{
	border-left:4px solid rgba(100,100,100,.4);
	padding:3px 3px 3px 12px;
	margin:0 0 2px;
	border-radius:2px;
}
footer	{
	clear:left;
	font-family:Georgia;
	border-top:1px solid rgba(30,30,30,1);
	width:1012px;
	margin-left:-8px;
	padding:12px 0 12px 8px;
	position:relative;
	overflow:hidden;
}
footer:before	{
	position:absolute;
	top:-3px;
	left:3px;
	display:block;
	content:" ";
	background:#000;
	box-shadow:0 1px 8px rgba(0,0,0,.9);
	height:1px;
	width:1014px;
}
a	{
	color:#aaa;
	text-decoration:none;
	border-bottom:1px solid transparent;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
}
footer *	{
	color:#aaa;
	text-decoration:none;
}

a:hover	{
	color:#eee;
	border-bottom-color:rgba(255,255,255,.05);
}


#board	{
	margin:24px 0 24px -64px;
	padding:6px 0 12px 64px;
	background:-webkit-linear-gradient(top, rgba(62,62,62,.7) 1%, rgba(85,85,85,.7) 1%, rgba(62,62,62,.7) 1.3%, rgba(62,62,62,.7) 99%, rgba(55,55,55,.7));
	background:-moz-linear-gradient(top, rgba(62,62,62,.7) 1%, rgba(85,85,85,.7) 1%, rgba(62,62,62,.7) 1.3%, rgba(62,62,62,.7) 99%, rgba(55,55,55,.7));
	background:-o-linear-gradient(top, rgba(62,62,62,.7) 1%, rgba(85,85,85,.7) 1%, rgba(62,62,62,.7) 1.3%, rgba(62,62,62,.7) 99%, rgba(55,55,55,.7));
	box-shadow:0 1px 8px rgba(0,0,0,.5);
	border-radius:3px;
	color:#fff;
	min-width:1020px;
	position:relative;
}
#board > ol	{
	margin:0 12px 6px;
}
#board > ol > li	{
	float:left;
	text-shadow:none;
	text-align:center;
	font-family:"Helvetica Nene", Helvetica, Arial, "Shin Go Regular", sans-serif;
	font-size:90%;
	color:#eee;
}
#board > ol > :nth-child(1)	{
	width:294px;
	margin-right:24px;
}
#board > ol > :nth-child(2)	{
	width:234px;
}
#board > ol > :nth-child(3)	{
	width:430px;
}
#board > ol > li > span	{
	display:block;
}
#board > ol > li > :last-child	{
	font-size:80%;
}
#board > div	{
	box-shadow:0 2px 3px 4px rgba(0,0,0,.95) inset;
	height:101px;
	padding:12px;
	max-width:1300px;
	background-color:#1a1a1a;
	background-image:url(bg.png);
	float:left;
	position:relative;
	border:3px solid rgba(140, 140, 140, .4);
}
#board > div:after	{
	content:" ";
	background:;
	overflow:hidden;
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:9000;
	opacity:.18;
	background-image:url(reflection.jpg);
	background-position:100% 20%;
}
#board > div.nude:after	{
	display:none;
}
