body{ background-color:#ffffff;

  }

img{ border:0px; }

a:link{ color:#0000ff; }

a:active{ color:#00ffff; }

/* a:visited{ color:#0000ff; } */

a:hover{ color:#00ccaa;

  text-decoration:none; }



h1{

font-size:200%;

font-weight:bold;

background-color:#00ff99;

color:#0000ff;

text-align:center;

border-style:solid;

border-width:1px;

border-color:#0000cc;

}



h2{

font-size:175%;

font-weight:bold;

background-color:#aaaaff;

border-style:solid;

border-width:1px;

border-color:#0000cc;

}



h3{

font-size:150%;

font-weight:bold;

background-color:#ddddff;

border-left-style:solid;

border-width:10px;

border-color:#0000ff;

}



h4{

font-size:125%;

font-weight:bold;

background-color:#ffffff;

border-left-style:solid;

border-bottom-style:solid;

border-width:2px;

border-color:#0000cc;

}



h5{

font-size:100%;

font-weight:bold;

color:#990000;

border-bottom-style:solid;

border-width:1px;

border-color:#cccccc;

}



strong{

color:#f00;

}



/* 画像のレンダリング設定　拡大したときにぼやけないようにする https://www.omohayui.com/entry/2017/08/20/180653 */

.pixelated {

  -ms-interpolation-mode: nearest-neighbor; /* IE8+ */

  image-rendering: -webkit-optimize-contrast; /* Safari (WebKit) */

  image-rendering: -moz-crisp-edges; /* Firefox (Gecko) */

  image-rendering: -o-crisp-edges; /* Opera 12.x */

  image-rendering: pixelated; /* Chrome 41+, Opera 29+ (CSS4) */

}
